.post {
  .text {
    pre {
      padding: 20px;
      background-color: #8080801f;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    blockquote {
      display: block;
      padding-left: 10px;
      color: var(--gray);
      border-left: 5px solid #666C757D;
    }
  }
}